.form__inner{
  padding: 14rem 24rem 15rem 24rem;
}
.form{
  @extend %flex;
  column-gap: 10px;
  justify-content: space-between;
  color: $Border-color;
}
.form-item__second{
  @extend %flex;
  flex-basis: 50%;
  flex-direction: column
}
.form__text{
  @include font(1.6rem, 1.7rem,400);
}
.form__placeholder::placeholder{
  @include font(1.8rem, 2.5rem, 400);
  color: $Border-color;
}
.form__input{
  display: inline-block;
  max-width: 600px;
  width: 100%;
  padding: 0 0 1.6rem 0;
  border-bottom: 2px solid $Border-color;
}

.form__input-space{
  margin: 4rem 0;
}
.form__textarea{
  display: block;
  max-width: 700px;
  width: 100%;
  margin:  0 0 8rem 0;
  overflow: auto;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 2px solid $Active-color;
}
.button__form{
  align-self: flex-end;
}

@media (max-width: 1680px){
  .form__inner{
    padding: 14rem 4rem 15rem 4rem;
  }
}
@media (max-width: 1480px){
  .form__inner{
    padding: 14rem 1rem 15rem 1rem;
  }

}
@media(max-width:1000px){
  .form__inner{
    padding: 14rem 1rem 4rem 1rem;
  }
  .feedback__title{
    padding: 0 1rem 0 0;
  }
  .form{
    flex-direction: column;
  }
  .form__textarea {
    margin: 0 0 3rem 0;
  }
}
@media(max-width:680px){
  
}