.circle-bg{
  position: absolute;
  right: 0;
  bottom: 10px;
  border-radius: 50%;
  padding: 10px;
  background-color: $Font-snow;
}
.circle__round{
  border-radius: 50%;
  width: 90px;
  height: 90px;
  border: 1px solid $Active-color;
}
.semi-moon-up{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 334px;
  height: 167px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/images/svg/semi-moon-up.svg);
}

@media(max-width:900px){
  .semi-moon-up{
    width: 170px;
    height: 88px;
    background-image: url(../assets/images/mobile/svg/semi-moon-up.svg);
  }
  .circle__round{
    width: 45px;
    height: 45px;
  }
}