.footer__inner{
  @extend %flex;
  column-gap: 10px;
  justify-content: space-between;
  padding: 5rem 24rem 4rem 1rem;
}
.footer-icon{
  display: flex;
  align-items: center;
  min-height: 130px;
  background-image: url(../assets/images/svg/icon-footer.svg);
  background-repeat: no-repeat;
  background-position: top left;
}
.footer__link{
  margin: 7rem 0 0 100px;
}
.footer-text{align-self: flex-end;
margin: 0 0 2rem 0;
}
@media (max-width: 1280px){
  .footer__inner{
    padding: 5rem 4rem 3rem 1rem;
  }
}
@media (max-width: 1000px){
  .footer-icon{
  background-image: url(../assets/images/mobile/svg/footer-icon.svg);
  }
  footer .primary-font-size{
    font-size: 1.4rem;
    line-height: 1.9rem;
  }
}