.footer__inner{
  @extend %flex;
  column-gap: 10px;
  justify-content: space-between;
  padding: 5rem 24rem 4rem 0;
}
.footer-icon{
  display: flex;
  align-items: center;
  min-height: 130px;
  background-image: url(../assets/images/svg/icon-footer.svg);
  background-repeat: no-repeat;
  background-position: top left;
}
.footer__link{
  margin: 7rem 0 0 100px;
}
.footer-text{align-self: flex-end;
margin: 0 0 2rem 0;
}