.nav-list{
  @extend %flex;
  justify-content: left;
  column-gap: 5rem;
}
.nav__list{
  padding: 0 0 4rem 0;
}
.nav__list_active{
  @extend %relative;
}
.nav__list_active::after{
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  border-radius: 50%;
  background-color: $Active-color;
}
.nav__link{
  @include font(1.6rem, 1.9rem, 400);
  color: $Font-dark;
}

.nav__link_active{
  @include font(1.6rem, 1.9rem, 600);
  color: $Active-color;
}
