
.plans__inner{
  @extend %relative;
  @extend %flex;
  column-gap: 5rem;
  flex-wrap: nowrap;
  padding: 0 25rem 0 0;
}
.plans__inner::after{
  content: '';
  position: absolute;
  top: 70px;
  right: 0;
  width: 110px;
  height: 230px;
  background-repeat: no-repeat;
  background-image: url(../assets/images/svg/semiMoon.svg);
}
.plans__title{
  margin: 6rem 0 0 0;
}
.plans-text{
  padding: 0 0 0.5rem 8rem;
}
.plans__text_space{
  margin: 2.4rem 0;
}
.quotes__text-left{
@extend %relative;
}
.quotes__text-left::before{
  content: '';
  position: absolute;
  width: 52px;
  height: 53px;
  top:6px;
  left: -65px;
  background-image: url(../assets/images/svg/Quotes-left.svg);
  background-repeat: no-repeat;
}
.plans__text-end{
  @extend %relative;
  @include font(2.1rem, 2.3rem, 600);
  color: $Background-dark;
}
.plans__text-end::before{
  content: '';
  position: absolute;
  width: 65px;
  height: 70px;
  top: 15px;
  right: -74px;
  background-image: url(../assets/images/svg/Quotes-right.svg);
  background-repeat: no-repeat;
}
@media(max-width:1480px){
  .plans__inner{
    padding: 0 1rem 0 0;
  }
  .plans__inner::after{
    height: 0;
  }
  .plans__text-end::before {
    top: 25px;
    right: 0;
  }
}
@media (max-width: 1280px){
  .plans__inner{
    flex-direction: column;
  }

  .quotes__text-left::before {
    background-image: url(../assets/images/mobile/svg/quote-up.svg);
  }
  .plans__text-end::before{
    background-image: url(../assets/images/mobile/svg/qoute-down.svg);
  }
}
@media (max-width: 1000px){
  .plans__text-end{
    @include font(1.8rem, 2rem, 600);
  }
}