
.fresh-wood__inner{
  @extend %relative;
  @extend %flex;
  column-gap: 10px;
  justify-content: space-between;
  padding: 14rem 24rem 4rem 24rem;
  z-index: 100;
}
.fresh-wood__inner::before{
  @extend %pseudo-elem;
  width: 1037px;
  height: 355px;
  bottom: 0;
  left: 0;
  background-color: $Background-cream;
}
.fresh-wood__inner::after{
  @extend %pseudo-elem;
  width: 30px;
  height: 30px;
  bottom: -15px;
  left: 25rem;
  border-radius: 50%;
  background-color: $Active-color;
}
.fresh-wood-item__second{
  @extend %relative;
  flex-basis: 54%;
z-index: 100; 
}
.fresh-wood__images{
  @extend %flex;
  column-gap: 10px;
  justify-content: space-between;
}
.fresh-wood__text{
  margin: 3rem 0 1.7rem 0;
}
.fresh-wood-item__first{
  @extend %relative;

}
@media (max-width: 1680px){
  .fresh-wood__inner{
    padding: 14rem 4rem 4rem 4rem;

  }
}
@media (max-width: 1480px){
  .fresh-wood__inner{
    padding: 9rem 1rem 4rem 1rem;

  }
  .fresh-wood__inner::before{
    width: 35%;
  }
  .fresh-wood__inner::after{
    width: 20px;
    height: 20px;
    bottom: -10px;
    left: 5rem;
  }
}

@media (max-width: 800px){
  .fresh-wood__inner{
    flex-direction: column;
  }
}
@media(max-width: 680px){
  .fresh-wood__inner::before{
    height: 180px;
  }
}