.projects__inner{
  @extend %relative;
  padding: 14.5rem 24rem 16rem 24rem;
}
.project__title{
  @extend %relative;
  padding: 0 50rem 0 0;
  max-width: 90%;
}
.project__cirlce{
  right: 240px;
}
.project__semi-moon-up{
right: 270px;
}