*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $primaryFont;
background-color: $Font-snow;
}

button {
padding: 0;
outline: none;
border: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 1rem;
}
.section-title{
    @include font(3.6rem, 4rem,600);
    color: $Font-dark;
}
.primary-font-size{
  @include font(1.8rem, 2.5rem, 400);
  color: $Font-dark;
}

.main-title{
position: absolute;
visibility: hidden;
top: 0;
left: 0;
width: 0;
height: 0;
}
.main-section-title{
    @include font(6.8rem, 7.5rem, 500);
}
.light-background{
    background-color: $Font-snow;
}
.cream-background{
    background-color: $Background-cream;
}
.line{
    display: inline-block;
    width: 70px;
    height: 4px;
   background-color: $Active-color;
   vertical-align: middle;
   
}
.line-down{
    @extend %relative;
}
.line-down::after{
    @extend %pseudo-elem;
    top: 20px;
    left: 2px;
    width: 1px;
    height: 215px;
    background-color: $Active-color;
}
.circle{
   @extend %relative;
   padding: 0 0 0 20px; 
   margin: 1.2rem 0;
}
.circle::before{
@extend %pseudo-elem;
width: 6px;
height: 6px;
left: 4px;
top: 8px;
border-radius: 50%;
background-color: $Active-color;
}

.gradient-line{
position: absolute;
width: 220px;
top: 0;
right: 260px;
background: linear-gradient(180deg, #26D5CE 0%, #C0FCF9 100%);
}

