*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: $primaryFont;
background-color: $Font-snow;
}

button {
padding: 0;
outline: none;
border: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 1rem;
}
.section-title{
    @include font(3.6rem, 4rem,600);
    color: $Font-dark;
}
.primary-font-size{
  @include font(1.8rem, 2.5rem, 400);
  color: $Font-dark;
}

.main-title{
position: absolute;
visibility: hidden;
top: 0;
left: 0;
width: 0;
height: 0;
}
.main-section-title{
    @include font(6.8rem, 7.5rem, 500);
}
.light-background{
    background-color: $Font-snow;
}
.cream-background{
    background-color: $Background-cream;
}
.line{
    display: inline-block;
    width: 70px;
    height: 4px;
    background-color: $Active-color;
    vertical-align: middle;
}