// colors
$Font-snow: #ffffff;
$Font-dark: #000000;
$Active-color: #26D5CE;
$Border-color: #C2C2C2;
$Background-dark:#303030;
$Background-cream: #FBF7F2;
$Background-cream2:#FFF7ED;
// fonts
$primaryFont: 'Gilroy', sans-serif;


