// colors
$Bg-dark: #030303;
$Dark-red: #710707;
$Font-gold: #9d8665;
$Font-snow: #ffffff;
$Font-dark: #000000;
$Icon-border: #666666;
$Video-bar: #24809E;
$Video-background: #C4C4C4;
$Video-hovered: #989898;
// fonts
$primaryFont: 'Gilroy', sans-serif;


